.banner {
  position: relative;
  overflow: hidden;
  text-align: left;
  height: 400px;
}

.banner-img {
    width: 100%;
    opacity: 60%;
}

.banner-text {
  color: rgb(0, 0, 0);
  font-weight: 700;
  padding-left: 30px;
  padding-top: 30px;
  font-size: 400%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  position: absolute; 
  z-index: 2;
}

.banner-text:hover {
  opacity: 100%;
}

.banner-img:hover {
  opacity: 100%;
}