
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 40px;
  background-color: #e7e7e7;
  font-weight: 700;
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-left .logo,
.nav-right .cart-icon {
  height: 40px;
}

.navbar a {
  text-decoration: none;
  color: #000000;
  transition: color 0.2s ease;
}

.nav-center a {
  border-radius: 90px;            /* rounds the edges */
  transition: background-color 0.3s ease; /* smooth hover effect */
  text-decoration: none;         /* optional, removes underline */
  color: black;                  /* preserve text color */
  padding: 25px;
}


.nav-center a:hover {
  background-color: rgba(45, 213, 255, 0.436); /* white background on hover */
  
}