/* --- Search Bar Styling --- */
.search-container {
  margin-top: 50px; /* Adjust based on sticky navbar height */
  text-align: center;
  
}

.search-bar {
  padding: 10px 20px;
  width: 48%;
  font-size: 16px;
  border: 1px solid #000000;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.823);
  color: #ffffff;                /* White text */
}